*{
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   background: url("../assets/images/background-pattern-desktop.svg");
   background-position: top;
   background-repeat: no-repeat;
   background-size: auto;
}
.contienr{
    width: 50%;
    left: 50%;
    top:25%;
    margin-top: 10%;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 14px;
    .tittel{
        font-size: 32px;
        font-weight: bold;
        margin: 12px 0;
        align-items: center;
        word-spacing: 12px;
        display: flex;
        align-items: center;
        img{
            margin-right: 12px;
            width: 32px;
        }
    }
    .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .qestion{
            width: 100%;
            margin-bottom: 32px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .hide{
                display: none;
            }
        }
        .answe{
            margin: 12px 0; 
            color: black; 
            opacity: 50%;
            display: none;        

        }
    }
}